@import "../node_modules/bootstrap/dist/css/bootstrap.css";

#root {
  background: #EEEEEE;
  position: absolute;
  min-width: 100%;
  min-height: 100%;

  .slide-preview {
    background: white;
    border: 1px solid #444444;
  }

  .slide-list {
    list-style-type: none;
    padding: 0;
    margin: 10px;

    .slide-list-item {
      background: #EEEEEE;
      border: 1px solid #AAAAAA;
      padding: 5px;
      margin-bottom: 5px;

      .row {
        margin: 0;
      }

      .slide-thumbnail {
        height: 100px;
        width: 100%;
        margin-bottom: 5px;
        padding: 10px;
        cursor: pointer;

        h6 {
          text-align: center;
          margin-top: 0;
        }

        &:hover, &.active {
          background: #EEEEEE;
        }

        p {
          text-align: center;
          margin: 10px;
          margin-top: 20px;
          font-size: 9px;
        }
      }
    }
  }

  .slide-editor {
    .tool-bar {
      margin: 10px;
    }

    .slide-preview {
      min-height: 500px;
      margin: 10px;
      padding: 10px;
      background-repeat: repeat;
    }

    [contenteditable] {
      border: 1px dashed transparent;
      outline: none;

      &:focus {
        border-color: #AAA;
      }
    }

    h1,
    p {
      text-align: center;
    }

    p {
      margin: 20px;
      margin-top: 50px;
      font-size: 16px;
    }

  }

  .tool-bar {
    border: 1px solid black;
    height: 36px;
    margin-top: 20px;

    .bg-color,
    .bg-pattern{
      display: inline-block;
      border-right: 1px solid black;

      ul {
        list-style-type: none;
        display: inline-block;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          width: 20px;
          height: 20px;
          margin: 5px;
          cursor: pointer;
          background-size: 20px 20px;
        }
      }
    }
  }
}