#root {
  padding: 0;
  margin: 0;
  background: #D8D8D8;

  .container {
    background: #D8D8D8;
    height: 100vh;
    clear: both;
  }

  .the-slide {
    background: #fff;
    width: 100%;
    height: 70%;
    border: 2px solid #acb2b7;

  }
  .nav-list {
    width: 20%;
    height: 100vh;
    border-right: solid 5px #444444;
    float: left;
    clear: both;
  }
  .preview {
    width: 100%;
    height: 150px;
    background-color: #fff;

  }

  .preview-item {
    width: 80%;
    height: 30vh;
    margin: 10% 5%;
    list-style: none;

  }
  .btn {
    display: inline-block;
    font-size: 30px;
    width: 50%;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #bdc3c7;
    border: 1px solid #acb2b7;
    box-shadow: inset 0 -2px #acb2b7;

  }

  .btn:hover {
    background: #F0F0F0;
    color: #D8D8D8;
    cursor: pointer;
  }
  button:focus {
    outline: 0;
  }


  .slide-list {
    width: 60%;
    height: 100vh;
    float: right;
    margin: 50px 100px 0 0;
    list-style: none;

  }
  .slide-item {
    width: 100%;
    height: 100vh;
  }
}